
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Añadir el anime
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="{{anime?.images?.jpg?.image_url}}" alt="{{ anime?.title }}">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Score:" labelPlacement="start" formControlName="score" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Status:" placeholder="Select status" formControlName="status">
        <ion-select-option value="watching">Watching</ion-select-option>
        <ion-select-option value="plantowatch">Plan to watch</ion-select-option>
        <ion-select-option value="completed">Completed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="form.get('status')?.value=='watching'">
      <ion-input label="Current episode:" labelPlacement="start" formControlName="episode" type="number"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()">Add to library</ion-button>
</ion-footer>