<ion-content fullscreen>
  <ion-toolbar>
      <ion-buttons slot="start">
    <ion-button (click)="backToLibrary()">VOLVER</ion-button>
  </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <img src="{{ (anime.anime$ | async)?.images?.jpg?.image_url }}" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ (anime.anime$ | async)?.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-text>Synopsis: {{ (anime.anime$ | async)?.synopsis }}</ion-text>
            </div>
            <div>
              <ion-text>Episodes: {{ (anime.anime$ | async)?.episodes }}</ion-text>
            </div>
            <div>
              <ion-text>Year published: {{ (anime.anime$ | async)?.year }}</ion-text>
            </div>
            <div>
              <ion-text>Status of the anime: {{ (anime.anime$ | async)?.status }}</ion-text>
            </div>
            <div>
              <ion-text>Score: {{ (anime.anime$ | async)?.score }}</ion-text>
            </div>
            <div>
              <ion-text>User status: {{ (anime.anime$ | async)?.watch_status | titlecase}}</ion-text>
            </div>
            <div>
              <ion-text>Episodes watched: {{ (anime.anime$ | async)?.episodes_watched }}</ion-text>
            </div>
          </ion-card-content>
          <ion-button (click)="editAnime()">EDITAR</ion-button>
          <ion-button (click)="deleteAnime()">BORRAR</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
