<ion-content fullscreen>
  <ion-toolbar>
      <ion-buttons slot="start">
    <ion-button (click)="backToLibrary()">VOLVER</ion-button>
  </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <img src="{{ (anime.anime$ | async)?.images?.jpg?.image_url }}" alt="">
        </ion-card>
      </ion-col>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ (anime.anime$ | async)?.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{ (anime.anime$ | async)?.synopsis }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.episodes }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.year }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.status }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.score }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.watch_status }}</ion-text>
            <ion-text>{{ (anime.anime$ | async)?.episodes_watched }}</ion-text>



          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
