
body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA; 
    color: #333;
  }
  
  ion-toolbar {
    background-color: #26C6DA;
    color: white;
  }
  
  .title-style {
    font-size: 20px;
    font-weight: bold;
  }
  

  .form-content {
    padding: 20px;
  }
  
  .form-item {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #B2EBF2; 
  }
  
  .form-input {
    font-size: 16px;
    padding: 10px;
  }
  

  .footer-button {
    background-color: #00ACC1; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
  }
  
  