#menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 1rem;
}

#menu-title {
  text-align: center;
  font-size: 2rem;
}

#menu-subtitle {
  text-align: center;
  font-size: 1.5rem;
}

#user-subtitle {
  padding-top: 100%;
  text-align: center;
  font-size: 1.5rem;
}

#user-buttons {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

#menu-toolbar {
  text-align: right;
}
