.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout-button {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none; /* Quitamos la subraya de los enlaces */
  color: white;
  border-radius: 5px;

}

  .nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; /* Quitamos la subraya de los enlaces */
    color: white;
  }
  
  /* Estilo de los enlaces de navegación */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links li button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .nav-links li button:hover {
    background-color: #555;
  }