

#toolbar-title {
  color: var(--ion-card-background); /* Texto en blanco para mejor visibilidad */
  font-size: 1.6rem; /* Aumenta el tamaño de la fuente para hacerlo más prominente */
  margin: 1rem 0; /* Añade margen para espaciar el título */
  text-align: center;
  font-weight: bold;
  
}

#search-bar {
  color: black;
  width: 50%; /* Aumenta el ancho para mejor accesibilidad */
  padding: 0.5rem 1rem; /* Agrega padding para un mejor aspecto */
  margin: 0 auto; /* Asegura el centrado */
}

